.add-btn {
  position: fixed;
  bottom: 80px; /* Acima da BottomNav */
  right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background-color: #5db075; /* Verde da sua paleta */
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.2s ease;
}

.add-btn:hover {
  transform: scale(1.07);
}
