.agenda-container {
  width: 100%;
  max-width: 480px; /* ideal para mobile */
  margin: 0 auto;

  padding: 0;
  overflow-x: hidden; /* 🔥 remove rolagem lateral */
}

.agenda-list {
  padding: 16px;
}

.no-appointments {
  text-align: center;
  margin-top: 20px;
  color: #888;
}
