* {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

  body {
    font-family: "Poppins", sans-serif;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  :root {
    /* Cores principais */
    --color-primary: #89bc8b; /* Cor primária */
    --color-secondary: #ec538e; /* Cor secundária */

    /* Cores de fundo */
    --color-bg: #fcfaf4; /* Cor de fundo principal */
    --color-bg2: #f9f9f9; /* Cor de fundo secundária */

    /* Cores de texto */
    --color-text: #272625; /* Cor de texto padrão */
    --color-text-on-primary: #ffffff; /* Texto sobre cor primária */
    --color-text-on-secondary: #ffffff; /* Texto sobre cor secundária */

    /* Alertas */
    --color-alert: #ec538e; /* Alertas / secundária */
    --color-alert-bg: #f9f9f9; /* Fundo de alerta */
    --color-alert-text: #272625; /* Texto sobre alerta */
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
